<body class = "body">
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<h1>Editing Book</h1>
<!-- form_with部分 -->
<%= form_with model:@book, local: true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>
  <div><%= f.submit 'Update Book' %></div>
  <span>
    <%= link_to 'Show', book_path(@book.id) %>
    |
    <%= link_to 'Back', books_path %>
</span>
<% end %>
<Body>